<div><label>Sensor: </label><br><input type="text" name="sensorBody" required></div>
<div><label>Weight: </label><br><input type="number" name="weightBody" required></div>
<div><label>Dimension: </label><br><input type="text" name="dimensionBody" required></div>
<div><label>Resolution: </label><br><input type="text" name="resolutionBody" required></div>
<div><label>Wireless: </label><br><select name="wirelessBody"><option value="0">False</option><option value="1">True</option></select></div>
<div><label>Stabilizer: </label><br><select name="stabilizerBody"><option value="0">False</option><option value="1">True</option></select></div>
<input type="hidden" name="bodyForm">