    <footer>
        <p>
            © Copyright absolutely no one <br>
            <a class="footerlinks" href="/Renting/admin/index.php">Admin</a>
        </p>
        <ul id="footerList">
            <li>Find us on: </li>
            <li><a class="footerlinks" href="https://facebook.com">Facebook</a></li>
            <li>-</li>
            <li><a class="footerlinks" href="https://twitter.com">Twitter</a></li>
            <li>-</li>
            <li><a class="footerlinks" href="https://www.instagram.com">Instagram</a></li>
        </ul>

    </footer>