<div><label>Mount: </label><br><input type="text" name="mountLens" required></div>
<div><label>Weight: </label><br><input type="number" name="weightLens" required></div>
<div><label>Dimension: </label><br><input type="text" name="dimensionLens" required></div>
<div><label>Focal: </label><br><input type="text" name="focalLens" required></div>
<div><label>Aperture: </label><br><input type="text" name="apertureLens" required></div>
<div><label>Stabilizer: </label><br><select name="stabilizerLens"><option value="0">False</option><option value="1">True</option></select></div>
<input type="hidden" name="lensForm">