<body>
    <header>
        <div><img class="logo" src="/Renting/resources/logo.png"></div>
        <nav id="mainNav">
            <a id="current" class="navlink" href="/Renting/"><i class="material-icons md-36">home</i>Home</a>
            <a class="navlink" href="/Renting/products"><i class="material-icons md-36">camera_alt</i>Renting</a>
            <a class="navlink" href="/Renting/account"><i class="material-icons md-36">person</i>Account</a>
            <a class="navlink" href="/Renting/basket"><i class="material-icons md-36">shopping_cart</i>Basket</a>
            <div id="dropdown"></div>
        </nav>
        <div class="logo hidden"></div>
    </header>